body {
  margin: 1em 2em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  margin: 8vh 12vw;
}

h1 {
  color: #EEE;
}

h2 {
  color: #222;
}
h3{
  text-align: center;
}
section {
  margin: 12vh 7vw;
}

footer {
  margin: 5vh 12vw;
}
.button-margin{
  margin: 4px;
}
.card-margin{
  padding: 2vh 1vw;
 }

.title-box{
  font-size: 17px; 
}
.txt-capitalize{
  display: inline-block;

}
.txt-capitalize::first-letter{
  text-transform: capitalize;
}
label {
  display: flex;
  /* justify-content: space-between; */
  /* align-content: space-between;  */
  width:40vw;
}
